/* se importan fuentes  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body {
    margin: 0;
    padding: 0 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    background-color: #f0f0f0;
    margin-top: 0;
  }
  
  .left-section {
    display: flex;
  }
  
  .left-section button {
    font-weight: 600;
    border: none;
    margin-right: 30px;
    border-radius: 10px;
  }

  .left-section button:hover {
    background-color: #529F0F;
    color: white;
  }
  
  .center-section {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-section {
    position: relative;
  }
  
  .currency-button {
    background-color: #ddd;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .flecha-menu {
    width: 12px;
    height: 12px;
    padding-left: 15px;
  }
  .carrito-compra {
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* fin del header inicio del main */

.container {
  width: 80%;
  margin: 0 auto;
}

/* seccion1 */

#seccion1 {
  background-image: url("./img/slider-2.jpg");
  background-size: 120% 100%;
  background-position: center;
  text-align: center;
}


#seccion1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
}

#seccion1 h1 {
  font-size: 70px;
  font-family: "Playfair Display", sans-serif;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
}

#seccion1 a {
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight:400;
  text-decoration: underline;
  color: black;
  margin-top: 10px;
}

/* seccion2 */

#seccion2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1,
.container2 {
  flex: 1;
  text-align: center;
  background-size: 100% 100%;
  background-position:right;
  height: 300px;
  width: 350px;
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.container1 {
  background-image: url("./img/banner-1.png");
  margin-left: 200px;
  margin-right: 15px;
}
.container2 {
  background-image: url("img/banner-2.png");
  margin-right: 200px;
  margin-left: 15px;
}
.container1 .contenido1,
.container2 .contenido2 {
  margin-left: 20px;
}
.container1 h2,
.container1 p,
.container2 h2,
.container2 p {
  margin: 10px;
}
.contenido1,
.contenido2 {
  margin: 10px;
}
.contenido1 h2,
.contenido1 p,
.contenido2 h2,
.contenido2 p {
  text-align: left;
}
.contenido1 h2,
.contenido2 h2 {
  font-family: "Lora", serif;
  font-size: 52px;
  color: #529F0F;
  font-weight:400;  
}
.contenido1 p,
.contenido2 p {
  font-family: "Work Sans", sans-serif;
  font-size: 23px;
  color: black;
}

/* seccion3 */

#seccion3 {
  background-image: url("./img/bg-1.jpg");
  background-size: cover;
  text-align: center;
}

.articulo {
  display: flex;
  align-items: flex-start;
}

/* 
.descuento {
  position: absolute;
  top: 0;
  left: 0;
}
*/

#seccion4 {
  text-align: center;
}